@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*{
    padding: 0 ;
    margin: 0 ;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    color: ;
    box-sizing: border-box;
}

body {
    background-image: url("../img/1.png");
    background-position: center;
    background-size: cover ;
}

button {
    background-color: #FDFDFD;
    color: rgb(45, 90, 50);
    border: 2px solid rgb(45, 90, 50);
    padding: .3rem .6rem ;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover {
    background-color: rgb(45, 90, 50);
    color: #fff;
}

button:hover > i {
    color: #fff;
}

button i {
    color: rgb(45, 90, 50);
    font-weight: bold;
    pointer-events: none;
}

input, select {
    padding: 0.25rem 0.5rem;
}

.hide {
    display: none;
}

.todo-container {
    max-width: 450px;
    margin: 3rem auto ;
    background-color: #fdfdfd;
    padding: 1.5rem ;
    border-radius: 15px;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem ;
    border-bottom: 1px solid #ccc;
}

#todo-form, #edit-form {
    padding: 1rem ;
    border-bottom: 1px solid #ccc;
}